@import 'tailwindcss';

:root {
  /* Minsky theme colors */
  --minsky-black: oklch(0% 0 0);
  --minsky-dark-gray: oklch(21.78% 0 0);
  --minsky-charcoal: oklch(26.8% 0 0);
  --minsky-gray: oklch(56.9% 0 0);
  --minsky-light-gray: oklch(79.21% 0 0);
  --minsky-white: oklch(100% 0 0);

  --minsky-blue: oklch(49.27% 0.2362 265.11);
  --minsky-glow-blue: oklch(54.02% 0.2203 266.25);
  --minsky-dark-blue: oklch(27.48% 0.1476 263.55);
  --minsky-blue-black: oklch(15.52% 0.0671 261.02);

  --minsky-green: oklch(76.15% 0.202497 151.5169);
  --minsky-periwinkle: oklch(78.52% 0.1084 271.58);

  --navbar-height: 90px;
}

@theme {
  --text-2xs: clamp(0.75rem, 0.5rem + 1.25vw, 1.25rem);
  --text-s: clamp(0.75rem, 0.65rem + 0.5vw, 1.25rem);
  --text-m: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  --text-xl: clamp(1.5rem, 1rem + 1.25vw, 2.75rem);
  --text-2xl: clamp(2rem, 1.5rem + 1.25vw, 3.75rem);
  --text-3xl: clamp(2.25rem, 1.75rem + 2.5vw, 5rem);

  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 135rem;
  --breakpoint-5xl: 160rem;
}

@theme inline {
  /* Theme colors */
  --color-background: var(--minsky-black);
  --color-secondary-background: var(--minsky-dark-gray);

  /* Font colors */
  --color-primary: var(--minsky-white);
  --color-secondary: var(--minsky-gray);
  --color-teritary: var(--minsky-light-gray);

  /* card */
  --color-card-background: var(--minsky-dark-gray);

  /* badge */
  --color-badge-background: var(--minsky-charcoal);
  --color-badge-border: var(--minsky-gray);
  --color-badge-foreground: var(--minsky-light-gray);

  /* wide card */
  --color-widecard-border: var(--minsky-gray);
  --color-widecard-secondary: var(--minsky-light-gray);
  --color-widecard-divder: var(--minsky-charcoal);

  --color-matrix-green: var(--minsky-green);
  --color-glow-blue: var(--minsky-glow-blue);

  --color-light-gray: var(--minsky-light-gray);

  /* Footer */
  --color-footer-background: var(--minsky-dark-gray);
  --color-footer-green: var(--minsky-green);

  /* Contact form */
  --color-contact-background: var(--minsky-dark-gray);
  --color-input-border: var(--minsky-gray);

  /* Gradient colors */
  --color-grad-one: #cfcfcf;
  --color-grad-two: #c0c0c0;
  --color-grad-three: #3f3f3f;
  --color-grad-four: #a6a6a6;
  --color-grad-five: #f6f6f6;

  /* Minsky fonts */
  --font-space-grotesk: var(--font-space-grotesk);
  --font-outfit: var(--font-outfit);
}

@layer base {
  html {
    @apply text-[16px];
  }
  body {
    @apply bg-background font-space-grotesk text-primary text-[16px] box-border;
  }
  h1 {
    @apply text-3xl font-outfit leading-tight;
  }
  h2 {
    @apply text-2xl font-outfit;
  }
  h3 {
    @apply text-xl leading-tight;
  }
  h4 {
    @apply text-[1.25em] xl:text-[2em];
  }
  h5 {
    @apply text-m;
  }
  p {
    @apply text-s;
  }
}

@layer components {
  .full-glow-effect {
    box-shadow:
      0 0 20px 5px rgba(128, 128, 128, 0.3),
      0 0 40px 10px rgba(128, 128, 128, 0.1);
  }
  .section-header {
    @apply text-lg uppercase tracking-wider text-gray-600 mb-1;
  }
}
